/*** IMPORTS ***/
@import "./reset.scss";

/*** ICONS & AVATAR ***/
$icons: (
  dashboard,
  dashboard-outline,
  design,
  design-outline,
  developer,
  developer-outline,
  documents,
  documents-2,
  documents-outline,
  documents-2-outline,
  extensions,
  extensions-outline,
  extensions-2,
  extensions-2-outline,
  settings,
  settings-outline,
  workflows,
  workflows-outline,
  expand-arrow,
  expand-arrow-2,
  long-arrow,
  search,
  everything,
  plus,
  notification,
  drag,
  context-menu,
  v-context-menu,
  help
);

@each $iconName in $icons {
  .icon-#{$iconName} {
    mask-image: url("~@/assets/icons/icon-#{$iconName}.svg");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    width: inherit;
    height: inherit;
    background-color: black;
  }
}

/*** FONTS ***/
$fonts: (
  primary: AndikaNewBasic,
  primary-bold: AndikaNewBasicBold,
);

@each $key, $fontName in $fonts {
  @font-face {
    font-family: $fontName;
    src: url("~@/assets/fonts/#{$fontName}.woff2");
  }
}

:root {
  @each $key, $fontName in $fonts {
    --font-#{$key}: "#{$fontName}";
  }
}

/*** COLORS ***/
:root {
  --color-primary-0: #044966;
  --color-primary-1: #066d99;
  --color-primary-2: #0892cc;
  --color-primary-3: #0ab6ff;
  --color-primary-4: #3bc5ff;
  --color-primary-5: #6cd3ff;
  --color-primary-6: #9de2ff;
  --color-primary-7: #cef0ff;
  --color-primary-8: #e7f8ff;
  --color-primary: var(--color-primary-3);

  --color-text-0: #1d1f24;
  --color-text-1: #21242a;
  --color-text-2: #25292f;
  --color-text-3: #292d34;
  --color-text-4: #3e4248;
  --color-text-5: #54575d;
  --color-text-6: #696c71;
  --color-text-7: #7f8185;
  --color-text-8: #94969a;
  --color-text: var(--color-text-3);

  --color-bg-0: #c8d0d4;
  --color-bg-1: #d1d8db;
  --color-bg-2: #dadfe2;
  --color-bg-3: #e3e7e9;
  --color-bg-4: #edeff1;
  --color-bg-5: #f1f2f4;
  --color-bg-6: #f6f7f8;
  --color-bg-7: #fafafa;
  --color-bg-8: #ffffff;
  --color-bg: var(--color-bg-3);

  --color-primary-alpha-rgb: 0, 31, 45;
  --color-primary-alpha-0: rgba(var(--color-primary-alpha-rgb), 0.5);
  --color-primary-alpha-1: rgba(var(--color-primary-alpha-rgb), 0.4);
  --color-primary-alpha-2: rgba(var(--color-primary-alpha-rgb), 0.3);
  --color-primary-alpha-3: rgba(var(--color-primary-alpha-rgb), 0.2);
  --color-primary-alpha-4: rgba(var(--color-primary-alpha-rgb), 0.15);
  --color-primary-alpha-5: rgba(var(--color-primary-alpha-rgb), 0.1);
  --color-primary-alpha-6: rgba(var(--color-primary-alpha-rgb), 0.05);
  --color-primary-alpha: var(--color-primary-alpha-3);

  --color-bg-dot: #e5e5e5;

  --color-secondary: #e887ff;

  --color-brand-primary: var(--color-primary);
  --color-brand-secondary: var(--color-secondary);

  --color-error: #eb5757;
  --color-success: #32dc76;
}

/*** GRADIENTS ***/
:root {
  --gradient-primary-secondary: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  --gradient-secondary-primary: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
}

/*** SHADOWS ***/
:root {
  --shadow-primary: 0 0.0625rem 0.125rem 0.0625rem var(--color-primary-alpha-5);
  --shadow-primary-blur: 0 0.0625rem 0.3125rem var(--color-primary-alpha-5);
  --shadow-primary-blur-2: 0 0.0625rem 0.3125rem 0.0625rem var(--color-primary-alpha-5);
  --shadow-surround: 0 0 0.25rem 0.0625rem var(--color-primary-alpha);
  --shadow-surround-sharp: 0 0 0.125rem var(--color-primary-alpha);
  --shadow-surround-sharp-down: var(--shadow-surround-sharp),
    0 0.3125rem 0.0625rem var(--color-primary-alpha-6);
  --shadow-inset: inset 0 0 0.3125rem var(--color-primary-alpha-2);
}

/*** THICKNESS ***/

/*** WIDTH ***/

:root {
  --width-activity-bar: 3.2rem;
  --width-activity-bar-shortcut: 2rem;
}

/*** HEIGHT ***/

/*** SPACING: MARGINS & PADDINGS ***/

:root {
  --spacing-gutter-primary: 0.125rem;
  --spacing-activity-bar-element-margin: 1rem;
  --spacing-sidebar-element-margin: 1rem;
  --spacing-general-element-width: calc(100% - 2rem);
  --spacing-sidebar-draggable-element-width: calc(100% - 0.625rem);
  --spacing-tab-element-margin: 0.75rem;
  --spacing-step-card-width: 28rem;
  --spacing-step-card-border-margin: 0.3125rem;
  --spacing-step-card-element-margin: 0.825rem;
}

/*** BORDER ***/

:root {
  --border-rad-xxl: 0.625rem;
  --border-rad-xl: 0.5rem;
  --border-rad-lg: 0.375rem;
  --border-rad-md: 0.25rem;
  --border-rad-sm: 0.1875rem;
  --border-rad-xs: 0.125rem;

  --border-part: 0.0625rem solid;
  --border-part-0: 0.25rem solid;
  --border-part-1: 0.125rem solid;
  --border-part-2: 0.09375rem solid;
}

/*** SIZING ***/

:root {
  --sizing-zoom-level: 1rem;
}

/*** STYLES ***/

body * {
  box-sizing: border-box;
  font-family: var(--font-primary);
}

a {
  cursor: pointer;
}

.layout-divider {
  height: var(--spacing-gutter-primary);
  width: 100%;
}

.v-layout-divider {
  height: 100%;
  width: var(--spacing-gutter-primary);
  background-color: var(--color-bg);
}
