/// COLORS

// Primaries
$dark00: #15152E;
$dark01: #2A2A4A;
$dark02: #22223D;
$dark03: #30304D;
$dark04: #434364;
$dark05: #494970;

// Complements
$blue00: #175FC1;
$blue01: #1C70E2;
$blue02: #2480FE;
$blue02: #5198FA;

// Gradients
$gradient_pink: #EAA0FC;
$gradient_blue: #83A1F3;
$gradient_orange: #FFD3AF;
$gradient_salmon: #FF95A7;
$gradient_green: #93FF90;
$gradient_aqua: #6FEDCF;

/// STYLES
@mixin disable() {
    cursor: not-allowed;
}

@mixin hide() {
    display: none;
}
